a {
    color: black;
    display: block;
    padding: 15px 30px;
    text-Decoration: none;
    border-left: 1px solid;
  }

  a:hover {
    color: white;
    transition: 0.25s;
  }

  a:active {
    background-color: black;
  }