:root {
  --cambria: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --bg: #e8e0c9;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: var(--bg);
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.main {
  width: 60%;
  margin: 0 auto;
  margin-top: 4rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-bottom: 4rem;
}

p {
  font-size: 1.2em;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: wheat;
  padding: 8px 20px;
  border: 2px solid black;
}


/* navbar component */
.navbar {
  border-bottom: 2px solid;
  display: flex;
  justify-content: end;
}

.navBtn {
  font-weight: 500;
  display: block;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-decoration: none;
  border-left: 2px solid black;
}


/* About Page */
.aboutDiv {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid black;
}

.aboutDiv > div {
  border: 1px solid black;
}

.aboutRight > p {
  margin-top: 2rem;
}

.gridItem {
  padding: 50px;
}


/* contact page */
.contactDiv {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  padding: 50px;
  border: 2px solid black;
}

.formDiv {
  width: 90%;
  margin: 0 auto;
}

div > label {
  font-weight: 500;
}

.textInput {
  width: 100%;
  padding: 10px;
  background-color: ivory;
  border: 2px solid black;
}

textarea {
  height: 6rem;
}

.contactBtn {
  float: inline-end;
}

.contactLeft {
  text-align: end;
  float: left;
  width: 15%;
}

.contactRight {
  float: left;
  width: 85%;
  padding-left: 2rem;
}

.contactRow::after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 1rem;
}


/* resume page */
.pdfobject-container {
  height: 30rem;
}


/* footer component */
.footerDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  border-top: 2px solid black;
}

.footerBtn {
  padding: 8px 25px;
  border-right: 2px solid black;
}

.footerBtn:first-child {
  border-left: 2px solid black;
}

/* buttons hover */

.navBtn,
.footerBtn,
.btn {
  background-image: linear-gradient(to top, white 50%, black 50%),
    linear-gradient(to top, black 50%, transparent 50%);
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.25s ease-in-out;
}

.navBtn:hover,
.footerBtn:hover,
.btn:hover,
svg:hover {
  background-position: bottom;
  color: white;
  transition: 0.25s;
}


/* media queries */
@media screen and (max-width: 776px) {

  /* navbar mq */
  .navbar {
    flex-direction: column;
  }
   
  /* contact me page mq */
  .contactLeft,
  .contactright,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .colLeft {
    text-align: start;
  }
  .colRight {
    padding: 0;
    width: 100%;
  }
}
