:root {
  --cambria: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --bg: #e8e0c9;
  --border1: 1px solid black;
  --border2: 2px solid black;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: var(--bg);
  border-left: var(--border2);
  border-right: var(--border2);
}

.main {
  width: 60%;
  margin: 4rem auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-bottom: 4rem;
}

p {
  font-size: 1.2em;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: wheat;
  padding: 8px 20px;
  border: var(--border2);
}

/* navbar component */
.navbar {
  border-bottom: var(--border2);
  display: flex;
  justify-content: end;
}

.navBtn {
  font-weight: 500;
  display: block;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-decoration: none;
  border-left: var(--border2);
}

/* About Page */
.aboutDiv {
  display: flex;
  flex-direction: row;
  border: var(--border1);
}

.aboutDiv > div {
  border: var(--border1);
}

.aboutLeft {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutLeft > img {
  width: 100%;
  height: auto;
}

.aboutRight > p {
  margin-top: 2rem;
}

.aboutItem {
  padding: 50px;
}

/* portfolio page */
.p-grid {
  display: grid;
  border: var(--border1);
  max-width: calc(100% / 3);
  height: auto;
  margin: 0 auto;
}

.p-item {
  position: relative;
}

.p-img {
  border: var(--border1);
  padding: 40px;
}

.p-img > img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 100%;
  background-color: rgb(245, 222, 178, 0.98);
  border: var(--border1);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlayDiv {
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.overlayLinks {
  margin-top: 1rem;
}

.overlayLinks > a {
  padding: 0 10px;
}

.p-item:hover .overlay {
  bottom: 0;
  height: 100%;
}

/* contact page */
.contactDiv {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  padding: 50px;
  border: var(--border2);
}

.formDiv {
  width: 90%;
  margin: 0 auto;
}

div > label {
  font-weight: 500;
}

.textInput {
  width: 100%;
  padding: 10px;
  background-color: ivory;
  border: var(--border2);
}

textarea {
  height: 6rem;
}

.contactBtn {
  float: inline-end;
}

.contactLeft {
  text-align: end;
  float: left;
  width: 15%;
}

.contactRight {
  float: left;
  width: 85%;
  padding-left: 2rem;
}

.contactRow::after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 1rem;
}

/* resume page */

.pdfobject-container {
  height: 50rem;
  width: auto;
}

/* footer component */
.footerDiv {
  display: flex;
  justify-content: center;
  align-content: end;
  width: 100%;
  margin-top: auto;
  border-top: var(--border2);
  box-sizing: border-box;
}

.footerBtn {
  padding: 8px 25px;
  border-right: var(--border2);
}

.footerBtn:first-child {
  border-left: var(--border2);
}

/* buttons hover */
.navBtn,
.footerBtn,
.btn {
  background-image: linear-gradient(to top, white 50%, black 50%),
    linear-gradient(to top, black 50%, transparent 50%);
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.25s ease-in-out;
}

.navBtn:hover,
.footerBtn:hover,
.btn:hover,
svg:hover {
  background-position: bottom;
  color: white;
  transition: 0.25s;
}

.active {
  background-position: bottom;
  background-color: black;
  color: white;
}

/* media queries */
@media only screen and (max-width: 1440px) {
  .main {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  /* projects max 3 col */
  .p-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  /* projects stack to 2 col */
  .p-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
  }
  /* about mq */
  .aboutDiv {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  /* navbar mq */
  .navbar,
  .aboutDiv {
    flex-direction: column;
  }
  .navBtn {
    border-left: none;
    border-bottom: var(--border2);
  }
  .navbar:last-child{
    border: none;
  }
  /* contact me page mq */
  .formDiv,
  .contactLeft,
  .contactRight,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .contactLeft {
    text-align: start;
  }
  .contactRight {
    padding: 0;
    width: 100%;
  }
  /* projects stack to 1 col */
  .p-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  form {
    padding: 25px;
  }
}